
<div class="page-header">
  <div class="row">
    <div class="col-md-10">		
      <h1>{{ header.name }}</h1>
      <p class="lead highlight-title">{{ header.title }}</p>
      <div class="row">
        <div class="col-md-3">
          <span class="fa fa-linkedin" aria-hidden="true"></span>{{ header.linkedin }} <br/>
        </div>
        <div class="col-md-3">
          <span class="fa fa-github" aria-hidden="true"></span>{{ header.github }} <br/>
        </div>
        <div class="col-md-3">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;{{ header.email }}<br/>
        </div>
        <div class="col-md-3">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;{{ header.address }}<br/>
        </div>        
      </div>
    </div>
    <div class="col-md-2">
      <img src="{{ header.photo }}" class="img-circle pull-right no-print" style="width: 100%;" alt="{{ header.name }}">
    </div> 
  </div>
</div>