<div class="container" >
	<cv-header/>
	<div class="row">
		<div class="col-md-8">
			<cv-section [title]="'summary'"></cv-section>
			<cv-summary/>
			<cv-section [title]="'experience'"></cv-section>
			<cv-experiences/>															
		</div>
		<div class="col-md-4">	
			<cv-section [title]="'tech skills'"></cv-section>
			<cv-tags/>
			<cv-section [title]="'languages'"></cv-section>
			<cv-bars/>
			<cv-section [title]="'strengths'"></cv-section>
			<cv-icons/>
			<cv-section [title]="'education'"></cv-section>
			<cv-timeline/>
		</div>				
	</div>									
</div>